<div class="ms-5 mt-5 vstack gap-3 align-items-start">
  <div class="bg-success-subtle px-3 text-center py-2">
    <p class="mb-0"><%= @answer  %></p>
  </div>
  <%= link_to "Ask anything else", ask_path, class: "btn btn-info" %>
</div>
