<div class="ms-5 mt-5 vstack gap-3 align-items-start">
  <h2 class="mb-0">Ask something to your coach</h2>
  <div class="bg-primary-subtle px-3 text-center py-2">
    <form action="/answer" data-turbo="false">
      <label for="question">What do you want now?</label>
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
